@model ProyectoResenas.Models.Juego

@{
    ViewData["Title"] = "Detalle juego";

    //Fecha
    DateTime fechaCreacion = DateTime.Parse(Model.FechaCreacion);

    string fechaActualizada = fechaCreacion.ToString("dd/MM/YYYY");
}

<br/>
<div class="container">
    <div class="card">
        <div class="card-header bg-light- text-light">
            <div class="col-12">
                <h4 class="text-white text-center">@Model.Descripcion</h4>
            </div>
            <div class="col-12 text-md-right">
                <p class="text-muted"> Fecha: @fechaActualizada</p>
            </div>
        </div>
        <div class="card-body">
            <div class="col-12">
                <img src="@Model.UrlImagen" class="img-thumbnail mx-auto d-block" />
                <p class="text-white text-secondary">@Html.Raw(Model.Descripcion)</p>
                @* <h2>class="text-white text-center"Reseña</h2> *@
                @* <p class="text-secondary">@Html.Raw(Model.Resena.Comentario)</p> *@
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-6 pb-1">
                    <a asp-action="Index" class="btn btn-success btn-sm">Volver atrás</a>
                </div>
            </div>
        </div>
    </div>
</div>